h1, h2{
	margin: .5rem;
	padding: .5rem;
}

#book1 {
	float: left;
	width: 120px;
	height: auto;
	margin: 1rem;

	animation-name: book;
	animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: scale(0.5);
}



.hello {
	font-size: 1.5rem;
	text-align: center;
	color: maroon;
	animation-name: fade;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	
}

.small-container{
	text-align: left;
	color: maroon;
	animation-name: fade;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

#books {
	font-size: 2rem;
}

#lists {
	font-size: 1.5rem;
}

#item {
	font-size: 2rem;
	text-align: left;
	color: maroon;
	animation-name: fade;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

#clear {
	font-size: 1.5rem;
	text-align: left;
	margin-left: 1.5rem;
	color: gray;
	animation-name: fade;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

#content {
	text-align: left;
	color: maroon;
	animation-name: fade;
	animation-duration: 4s;
	animation-fill-mode: forwards;
}

li {
	display: block;
	text-align: center;
	margin-left: 7rem;
	font-size: 30px;
	color: white;
	width: 200px;
	height: auto;

	animation-name: background;
	animation-duration: .6s;
	animation-fill-mode: forwards;
}

#text {
	font-size: 1rem;
	text-align: center;
	margin: 2rem;
	color: gray;
	animation-name: fade;
	animation-duration: 2s;
	animation-fill-mode: forwards;

}

#text:hover{
	animation-name: color;
	animation-duration: 1s;
	transform: scale(1.5,1.5);

}

#clear:hover{
	animation-name: color;
	animation-duration: 1s;
	transform: scale(1.5,1.5);
}

@keyframes fade {
	from {opacity: 0}
	to {opacity: 1}
}

@keyframes color {
	from {color: white}
	to {color: maroon}
}

@keyframes background {
	from {background-color: white}
	to {background-color: maroon}
}

@keyframes book {
	0% {
	  transform: scale(.75);
	}
	40% {
	  transform: scale(.75);
	}
	55% {
	  transform: rotate(90deg) scale(0.5);
	}
	70% {
	  transform: rotate(180deg) scale(0.5);
	}
	85% {
	  transform: rotate(270deg) scale(0.5);
	}
	95% {
	  transform: rotate(360deg) scale(0.5);
	}
	100% {
	  transform: rotate(360deg) scale(0.5);
	}
  }