
#myDIV {
    border: 1px solid black;
    background-color: teal;
    width: 270px;
    height: 100px;
    overflow: auto;
    text-align: center;
    font-size: 2rem;
  }
  
  #myDIV:hover {
    background-color: pink;
    width: 570px;
    height: 100px;
    padding: 100px;
    border-radius: 50px;
  }